@import 'compass';
@import 'shared';

@import url(http://fonts.googleapis.com/css?family=Montserrat:700);

.moarflo-tooltip {

	$top: 50px;
	$padding: 5px;
	$duration: 1s;

	@include opacity(0);
	@include embossed(#444, transparent);
	@include box-sizing(border-box);
	@include border-bottom-radius($padding);
	@include transition(opacity $duration, top $duration);
	@include box-shadow(0 4px 2px -2px fade-out(black, 0.5));

	top: 0;
	left: 50%;
	z-index: 9998;
	position: fixed;
	padding: 0 $padding $padding;
	display: block !important;

	&.moarflo-active {
		top: $top;
		@include opacity(1);
	}

	.moarflo-tooltip-content {
		@include embossed(#64bc3b);
		@include border-bottom-radius($padding);
		@include transition(background-color $duration, border-color $duration, color $duration);
		font: 16px 'Montserrat', sans-serif;
		text-align: center;
		padding: $padding 1em;
		color: white;
	}

	&.moarflo-error {
		.moarflo-tooltip-content {
			background-color: #bc1200;
			border-color: darker(#bc1200, 5%);
		}
	}

	&.moarflo-prompt {
		.moarflo-tooltip-content {
			background-color: #f3e800;
			border-color: darker(#f3e800, 5%);
			color: #444;
		}
	}

}