@import 'compass';

@import url("http://fonts.googleapis.com/css?family=Montserrat:700");

@mixin embossed($color, $gloss: white) {
	@if $gloss != transparent {
		@include background-image(linear-gradient(fade-out($gloss, 0.6), fade-out($gloss, 1)));
	}
	background-color: $color;
	border: solid 1px darker($color, 5%);
}

.moarflo {

	$height: 45px;
	$padding: 5px;
	$duration: 1s;

	@include box-sizing(border-box);

	font: 16px 'Montserrat', sans-serif;
	display: block !important;
	position: fixed;
	z-index: 9999;
	width: 100%;

	.moarflo-progress, .moarflo-tooltip {

		@include transition(box-shadow $duration, top $duration);
		@include box-shadow(0 0 0 0 transparent);
		@include box-sizing(border-box);

		top: -2*($height);
		display: inline-block;
		position: relative;

		&.moarflo-active {
			@include box-shadow(0 4px 2px -2px fade-out(black, 0.5));
			top: 0;
		}

	}

	.moarflo-progress {

		@include embossed(#444);

		padding: $padding ($padding + 2px) $padding $padding;
		height: $height;
		width: 100%;
		z-index: 2;

		.moarflo-progress-bar, .moarflo-progress-bar-value {
			@include embossed(transparent);
			height: 98%;
		}

		.moarflo-progress-bar {
			width: 100%;
			background-color: #555;
			border-color: darker(#555, 5%);
		}

		.moarflo-progress-bar-value {
			@include transition(width $duration, background-color $duration, border-color $duration);
			@include box-sizing(border-box);
			border-color: darker(#64bc3b, 5%);
			background-color: #64bc3b;
			width: 50%;
		}

	}

	.moarflo-tooltip {

		@include border-bottom-radius($padding);
		@include embossed(#444, transparent);
		@include box-sizing(border-box);

		padding: 0 $padding $padding;
		margin-top: -5px;
		z-index: 1;
		left: 50%;

		.moarflo-tooltip-content {

			@include transition(background-color $duration, border-color $duration, color $duration);
			@include border-bottom-radius($padding);
			@include box-sizing(border-box);
			@include embossed(#64bc3b);

			padding: $padding 1em;
			text-align: center;
			color: white;

		}

	}

	&.moarflo-error {
		.moarflo-progress-bar-value {
			border-color: darker(#bc1200, 5%);
			background-color: #bc1200;
		}
		.moarflo-tooltip-content {
			background-color: #bc1200;
			border-color: darker(#bc1200, 5%);
		}
	}

	&.moarflo-prompt {
		.moarflo-progress-bar-value {
			border-color: darker(#f3e800, 5%);
			background-color: #f3e800;
		}
		.moarflo-tooltip-content {
			background-color: #f3e800;
			border-color: darker(#f3e800, 5%);
			color: #444;
		}
	}

}